@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --primary-color: #038C7F;
  --secondary-color: #68D7C2;
  --background-color: #F2E7DC;
  --foreground-color: #333333;
  --white-color: #FFFFFF;
  --red-primary: #FF0007;
  --red-secondary: #BD2A2E;
  --button-hover-color: #02937A;
  --border-color: #D9D9D9;
  --shadow-color: 0px 4px 4px 0px rgba(0,0,0,0.2);
  --font-logo: 'Anton', sans-serif;
  --font-body: 'Roboto Condensed', sans-serif;
  --button-header:#00FFCF;
}

*{
  font-family: var(--font-body), sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background-color);
  overflow-x: hidden;
}

